# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/
# Uploaded files
storage/uploads/
# OS
.DS_Store
Thumbs.db
# Uploaded meeting files
backend/storage/uploads/*
backend/storage/*

# Frontend
node_modules/
frontend/dist/

